<form action="" method="POST">

    <div class="container m-4 p-2 border border-primary">

        <h1 class="text-center">Registro de Usuario</h1>
         <img src="img/imgUsuarios/batman.png" alt="hulk" class="img-thumbnail">

        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="DNI">DNI:</label>
                    <input type="Text" class="form-control" name="DNI" placeholder="DNI...." value="{{ usuarios.DNI }}"
                        readonly>
                </div>
            </div>          
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" name="nombre" value="{{ usuarios.nombre }}"
                        placeholder="......">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="apellido">Apellido:</label>
                    <input type="text" class="form-control" name="apellido" value="{{ usuarios.apellido }}"
                        placeholder="......">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" value="{{ usuarios.email }}"
                        placeholder="......">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="direccion">Dirección:</label>
                    <input type="text" class="form-control" name="direccion" value="{{ usuarios.direccion }}"
                        placeholder="......">
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="localidad">Localidad:</label>
                    <input type="text" class="form-control" name="localidad" value="{{ usuarios.localidad }}"
                        placeholder="......">
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="provincia">Provincia:</label>
                    <input type="text" class="form-control" name="provincia" value="{{ usuarios.provincia }}"
                        placeholder="......">
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-3">
                <div class="form-group">
                    <label for="cp">Código Postal:</label>
                    <input type="text" class="form-control" name="cp" value="{{ usuarios.cp }}" placeholder="......">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="telefono">Teléfono:</label>
                    <input type="text" class="form-control" name="telefono" value="{{ usuarios.telefono }}"
                        placeholder="......">
                </div>
            </div>

            <div class="col-3">


                {{#if  usuarios.activo }}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="activo" id="inlineRadio1" checked="checked"
                        value="1">
                    <label class="form-check-label" for="inlineRadio1">Activo</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="activo" id="inlineRadio2" value="0">
                    <label class="form-check-label" for="inlineRadio2">No Activo</label>
                </div>
                {{else}}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="activo" id="inlineRadio1" value="1">
                    <label class="form-check-label" for="inlineRadio1">Activo</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="activo" id="inlineRadio2" value="0"
                        checked="checked">
                    <label class="form-check-label" for="inlineRadio2">No Activo</label>
                </div>


                {{/if}}
            </div>

            <div class="col-3">
                <div class="form-group border border-success p-2">
                    <label class="text-center" for="exampleFormControlSelect1">Tipo de Usuario</label>
                    <select class="form-control" name="tipo" id="exampleFormControlSelect1">
                        <option value="{{usuarios.tipo}}" selected="selected">{{usuarios.tipo}}</option>
                        <option value="Basico">Basico</option>
                        <option value="Admin">Admin</option>
                    </select>
                </div>
            </div>





        </div>

        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" class="form-control" name="password" value="{{usuarios.password}}"
                        placeholder="......">
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="repassword">Repita la contraseña:</label>
                    <input type="password" class="form-control" name="repassword" value="{{usuarios.password}}"
                        placeholder="......">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center">
                    <button type="submit" name="operacion" value="Actualizar"
                        class="btn btn-primary btn-lg">Actualizar</button>
                </div>
            </div>
        </div>

    </div>
</form>


</div>

<h4>{{session.usuario.nombre}}</h4>
<h3>uuu</h3>

{{#if error}}
<p>{{error}}</p>
{{/if}}